$title-font: 'Rubik', sans-serif;
$manager-title-font: 2em;
$title-font-size: 3em;
$data-font-size: 1.2em;
$font-slim: 400;
$font-bold: 900;
$bates-blue: #1079B2;
$side-menu: #006699;
$white: #ffffff;

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: $bates-blue;
  font-family: $title-font;
  font-size: $title-font-size;
  color: white;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 0;
}

.main_container {
  background: lightgrey;
  height: 100vh;
  width: 100%;
}

.nav_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  height: 100px;
  width: 190px;
  margin: .65% 3%;
}

.js_login-submit {
  height: 100px;
  width: 95px;
  margin: 2.5% 0;
  padding: 0 2%;
}

.main_left-section {
  width: 30%;
  float: left;
  height: 100%;
  padding: 3%;
  background: $side-menu;
  color: #ffffff;
  font-family: $title-font;
  font-weight: $font-slim;
}

.main_right-section {
  width: 70%;
  float: right;
  height: 100%;
  padding: 3%;
  color: #006699;
  font-family: $title-font;
}

.manager_nav {
  background: $bates-blue;
  font-family: $title-font;
  color: #white;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3% 0;
}

.manager_right-data {
  font-family: $title-font;
}

.manager_data {
  font-weight: 400;
}

#js_insert-history {
  font-size: $data-font-size;
  font-weight: $font-slim;
}

.user-booking {
  list-style: none;
}

#calendar_button {
  width: 45px;
  height: 30px;
}

#calendar_input {
  width: 140px;
  height: 30px;
}

#js_insert-dates {
  color: #ffffff;
  font-size: 22px;
}

.book_room-find {
  color: #ffffff;
  font-family: $title-font;
  list-style: none;
  color: #006699;
}

.book_room-stats {
  color: #ffffff;
  font-family: $title-font;
  list-style: none;
  color: #006699;
}

.book_room-box {
  border: 1px solid #006699;
  width: 70%;
  height: 120px;
  padding: 2% 5%;
  margin: 2%;
  background: #ffffff;
  box-shadow: 0 7px 6px -6px #777;
}

.room_info-photo {
  display: inline-block;
  width: 95px;
  height: 95px;
  border: 1px solid #006699;
  background: #ffffff;
}

.room_info {
  float: right;
}





