$title-font: 'Rubik', sans-serif;
$manager-title-font: 2em;
$title-font-size: 3em;
$bates-blue: #1079B2;
$white: #ffffff;

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

nav {
  background: $bates-blue;
  font-family: $title-font;
  font-size: $title-font-size;
  color: white;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3% 0;
}

.main_container {
  background: lightgrey;
  height: 100vh;
  width: 100%;
}

.nav_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  height: 100px;
  width: 190px;
  margin: .65% 3%;
}

.js_login-submit {
  height: 40px;
  width: 55px;
  margin: 2.5% 0;
  padding: 0 2%;
}

.main_left-section {
  width: 50%;
  float: left;
  height: 100%;
}

.main_right-section {
  width: 50%;
  float: right;
  height: 100%;
}

.manager_nav {
  background: $bates-blue;
  font-family: $title-font;
  color: #white;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3% 0;
}

.manager_right-data {
  font-family: $title-font;
}



